/projects/unix/_obj*/
/projects/unix/mupen64plus-rdp-angrylion*.so
/projects/unix/mupen64plus-rdp-angrylion*.dll
/projects/msvc2015/.vs
/projects/msvc2015/Debug
/projects/msvc2015/Release
*.VC.opendb
*.VC.db
*.suo
*.user
